h1{
    color: rgba(255, 136, 0, 0.9);
}

h2{
    color: rgba(203, 203, 203, .9);
}

.main{
    background: white url(../../images/mars.png) no-repeat center center;

}
.color-overlay{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

i{
    padding: 2rem;
}
i p{
    font-size: 1.1rem;
}